## Pandas

Mit Pandas können wir Daten analysieren, die in Tabellarischer Form vorzufinden sind

z.B.: XML, JSON, CSV, SQL, ...

In weiterer Folge können diese Daten dann visualisiert werden (mit Matplotlib)

In [1]:
import numpy as np
import pandas as pd

## Serie

Eine Liste von Werten, der ein Numpy Array unterliegt

Effektiv eine Spalte/Zeile

In [3]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
einwohner = pd.Series([9, 83.7, 8.6, 0.38])

Ein normales Numpy Array besteht nur aus Zahlen

Eine Serie kann auch beschrieben werden

In [5]:
einwohner.values

array([ 9.  , 83.7 ,  8.6 ,  0.38])

In [6]:
type(einwohner.values)

numpy.ndarray

In [7]:
einwohner[0]

9.0

In [8]:
einwohner.index = ["AT", "DE", "CH", "LI"]

In [9]:
einwohner

AT     9.00
DE    83.70
CH     8.60
LI     0.38
dtype: float64

In [11]:
einwohner.sort_values()

LI     0.38
CH     8.60
AT     9.00
DE    83.70
dtype: float64

In [13]:
einwohner.sort_values(ascending=False)

DE    83.70
AT     9.00
CH     8.60
LI     0.38
dtype: float64

In [16]:
einwohner.sort_values(inplace=True)  # Inplace verändert die Serie selbst

In [17]:
einwohner

LI     0.38
CH     8.60
AT     9.00
DE    83.70
dtype: float64

In [18]:
einwohner["AT"]

9.0

In [22]:
einwohner["CH":"AT"]

CH    8.6
AT    9.0
dtype: float64

In [23]:
einwohner["CH":]

CH     8.6
AT     9.0
DE    83.7
dtype: float64

## Vektorisierung

Funktioniert wie bei Numpy Array

Kann verwendet werden um Daten zu filtern

In [24]:
einwohner > 10

LI    False
CH    False
AT    False
DE     True
dtype: bool

In [25]:
einwohner[einwohner > 10]

DE    83.7
dtype: float64

Alle unterdurchschnittlichen Länder finden

In [26]:
einwohner[einwohner < einwohner.mean()]

LI    0.38
CH    8.60
AT    9.00
dtype: float64

Alle unterdurchschnittlichen Länder finden mit mind. 5 Mio. Einwohner

In [30]:
einwohner[(einwohner < einwohner.mean()) & (einwohner > 5)]

CH    8.6
AT    9.0
dtype: float64

## DataFrame

Liste von Series, effektiv eine Tabelle

Hier ist es sinnvolle eine CSV-Datei zu laden

In [34]:
pd.DataFrame({ "Spalte1": [1, 2, 3], "Spalte2": [4, 5, 6], "Spalte3": [7, 8, 9] })

   Spalte1  Spalte2  Spalte3
0        1        4        7
1        2        5        8
2        3        6        9

Es gibt verschiedene Methoden um Daten zu laden

Wir fangen mit read_csv() an

## read_csv

Liest ein CSV ein

Sollte konfiguriert werden:
- Tausenderzeichen, Kommazeichen
- Datumsformatierung
- Trennzeichen (; oder ,)
- ...

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [48]:
df = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".", index_col="#")

In [49]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, 1 to 235
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population(2020)         235 non-null    int64
 2   YearlyChange             235 non-null    object
 3   NetChange                235 non-null    int64
 4   Density(P/Km²)           235 non-null    int64
 5   Land Area(Km²)           235 non-null    int64
 6   Migrants(net)            201 non-null    float64
 7   Fert.Rate                235 non-null    object
 8   Med.Age                  235 non-null    object
 9   UrbanPop %               235 non-null    object
 10  WorldShare               235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 22.0+ KB

In [53]:
df.head(10)

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

In [54]:
df.tail()

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [55]:
df.describe()

,Population(2020),NetChange,Density(P/Km²),Land Area(Km²),Migrants(net)
count,2.350000e+02,2.350000e+02,235.000000,2.350000e+02,201.000000
mean,3.317120e+07,3.461058e+05,478.408511,5.535918e+05,-5.442786
std,1.351370e+08,1.128255e+06,2331.282424,1.687796e+06,123292.057588
min,8.010000e+02,-3.838400e+05,0.000000,0.000000e+00,-653249.000000
25%,4.188015e+05,4.240000e+02,37.000000,2.545000e+03,-10047.000000
50%,5.459642e+06,3.917000e+04,95.000000,7.724000e+04,-960.000000
75%,2.057705e+07,2.496600e+05,240.000000,4.038200e+05,9741.000000
max,1.439324e+09,1.358663e+07,26337.000000,1.637687e+07,954806.000000

## Spalten und Zeilen angreifen

In [59]:
df["Country (or dependency)"]

#
1                 China
2                 India
3         United States
4             Indonesia
5              Pakistan
             ...
231          Montserrat
232    Falkland Islands
233                Niue
234             Tokelau
235       Vatican State
Name: Country (or dependency), Length: 235, dtype: object

In [61]:
df.loc[1]  # Zeile angreifen

Country (or dependency)         China
Population(2020)           1439323776
YearlyChange                   0.39 %
NetChange                     5540090
Density(P/Km²)                    153
Land Area(Km²)                9388211
Migrants(net)               -348399.0
Fert.Rate                         1.7
Med.Age                            38
UrbanPop %                       61 %
WorldShare                    18.47 %
Name: 1, dtype: object

In [62]:
df.loc[1:10]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

In [63]:
df.loc[10:20]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
11,Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
12,Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
13,Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
15,Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
17,Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
19,Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
20,Thailand,69799978,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %

In [68]:
df.loc[10:20, ["Country (or dependency)", "Population(2020)"]]

   Country (or dependency)  Population(2020)
#
10                  Mexico         128932753
11                   Japan         126476461
12                Ethiopia         114963588
13             Philippines         109581078
14                   Egypt         102334404
15                 Vietnam          97338579
16                DR Congo          89561403
17                  Turkey          84339067
18                    Iran          83992949
19                 Germany          83783942
20                Thailand          69799978

## Filterung

In [69]:
df["Population(2020)"] > 1_000_000_000

#
1       True
2       True
3      False
4      False
5      False
       ...
231    False
232    False
233    False
234    False
235    False
Name: Population(2020), Length: 235, dtype: bool

In [70]:
df[df["Population(2020)"] > 1_000_000_000]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %

In [71]:
df[df["Land Area(Km²)"] > 1_000_000]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
25,South Africa,59308690,1.28 %,750420,49,1213090,145405.0,2.4,28,67 %,0.76 %
29,Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,31,80 %,0.65 %
32,Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
33,Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
34,Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
39,Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
41,Saudi Arabia,34813871,1.59 %,545343,16,2149690,134979.0,2.3,32,84 %,0.45 %
43,Peru,32971854,1.42 %,461401,26,1280000,99069.0,2.3,31,79 %,0.42 %
44,Angola,32866272,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %
55,Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
56,Niger,24206644,3.84 %,895929,19,1266700,4000.0,7.0,15,17 %,0.31 %
60,Mali,20250833,3.02 %,592802,17,1220190,-40000.0,5.9,16,44 %,0.26 %
64,Kazakhstan,18776707,1.21 %,225280,7,2699700,-18000.0,2.8,31,58 %,0.24 %
72,Chad,16425864,3.00 %,478988,13,1259200,2000.0,5.8,17,23 %,0.21 %
80,Bolivia,11673021,1.39 %,159921,11,1083300,-9504.0,2.8,26,69 %,0.15 %
108,Libya,6871292,1.38 %,93840,4,1759540,-1999.0,2.3,29,78 %,0.09 %
127,Mauritania,4649658,2.74 %,123962,5,1030700,5000.0,4.6,20,57 %,0.06 %
136,Mongolia,3278290,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %

## Sortierung

Zur Sortierung gibt es eine Funktion namens sort_values()
1. Spalte die sortiert werden soll
2. Ascending True/False
3. Inplace True/False

In [72]:
x = df[df["Land Area(Km²)"] > 1_000_000]

In [73]:
x

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
25,South Africa,59308690,1.28 %,750420,49,1213090,145405.0,2.4,28,67 %,0.76 %
29,Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,31,80 %,0.65 %
32,Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
33,Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
34,Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
39,Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
41,Saudi Arabia,34813871,1.59 %,545343,16,2149690,134979.0,2.3,32,84 %,0.45 %
43,Peru,32971854,1.42 %,461401,26,1280000,99069.0,2.3,31,79 %,0.42 %
44,Angola,32866272,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %
55,Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
56,Niger,24206644,3.84 %,895929,19,1266700,4000.0,7.0,15,17 %,0.31 %
60,Mali,20250833,3.02 %,592802,17,1220190,-40000.0,5.9,16,44 %,0.26 %
64,Kazakhstan,18776707,1.21 %,225280,7,2699700,-18000.0,2.8,31,58 %,0.24 %
72,Chad,16425864,3.00 %,478988,13,1259200,2000.0,5.8,17,23 %,0.21 %
80,Bolivia,11673021,1.39 %,159921,11,1083300,-9504.0,2.8,26,69 %,0.15 %
108,Libya,6871292,1.38 %,93840,4,1759540,-1999.0,2.3,29,78 %,0.09 %
127,Mauritania,4649658,2.74 %,123962,5,1030700,5000.0,4.6,20,57 %,0.06 %
136,Mongolia,3278290,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %

In [82]:
x.sort_values("Land Area(Km²)", ascending=False, inplace=True)

In [83]:
x

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
39,Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
55,Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
32,Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
64,Kazakhstan,18776707,1.21 %,225280,7,2699700,-18000.0,2.8,31,58 %,0.24 %
33,Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
41,Saudi Arabia,34813871,1.59 %,545343,16,2149690,134979.0,2.3,32,84 %,0.45 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
34,Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
108,Libya,6871292,1.38 %,93840,4,1759540,-1999.0,2.3,29,78 %,0.09 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
136,Mongolia,3278290,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %
43,Peru,32971854,1.42 %,461401,26,1280000,99069.0,2.3,31,79 %,0.42 %
56,Niger,24206644,3.84 %,895929,19,1266700,4000.0,7.0,15,17 %,0.31 %
72,Chad,16425864,3.00 %,478988,13,1259200,2000.0,5.8,17,23 %,0.21 %
44,Angola,32866272,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %
60,Mali,20250833,3.02 %,592802,17,1220190,-40000.0,5.9,16,44 %,0.26 %
25,South Africa,59308690,1.28 %,750420,49,1213090,145405.0,2.4,28,67 %,0.76 %
29,Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,31,80 %,0.65 %
80,Bolivia,11673021,1.39 %,159921,11,1083300,-9504.0,2.8,26,69 %,0.15 %
127,Mauritania,4649658,2.74 %,123962,5,1030700,5000.0,4.6,20,57 %,0.06 %

In [85]:
x.sort_values(["Population(2020)", "NetChange"])

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
136,Mongolia,3278290,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %
127,Mauritania,4649658,2.74 %,123962,5,1030700,5000.0,4.6,20,57 %,0.06 %
108,Libya,6871292,1.38 %,93840,4,1759540,-1999.0,2.3,29,78 %,0.09 %
80,Bolivia,11673021,1.39 %,159921,11,1083300,-9504.0,2.8,26,69 %,0.15 %
72,Chad,16425864,3.00 %,478988,13,1259200,2000.0,5.8,17,23 %,0.21 %
64,Kazakhstan,18776707,1.21 %,225280,7,2699700,-18000.0,2.8,31,58 %,0.24 %
60,Mali,20250833,3.02 %,592802,17,1220190,-40000.0,5.9,16,44 %,0.26 %
56,Niger,24206644,3.84 %,895929,19,1266700,4000.0,7.0,15,17 %,0.31 %
55,Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
44,Angola,32866272,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %
43,Peru,32971854,1.42 %,461401,26,1280000,99069.0,2.3,31,79 %,0.42 %
41,Saudi Arabia,34813871,1.59 %,545343,16,2149690,134979.0,2.3,32,84 %,0.45 %
39,Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
34,Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
33,Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
32,Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
29,Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,31,80 %,0.65 %
25,South Africa,59308690,1.28 %,750420,49,1213090,145405.0,2.4,28,67 %,0.76 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %

## DataFrame bearbeiten

Spalten oder Zeilen können entfernt/umbenannt werden

In [91]:
df.drop("Migrants(net)", axis=1, inplace=True)  # Spalte löschen

In [93]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,N.A.,N.A.,N.A.,0.00 %

In [96]:
df.drop(df.index[100:], inplace=True)

In [97]:
df

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
96,Belarus,9449323,-0.03 %,-3088,47,202910,1.7,40,79 %,0.12 %
97,Austria,9006398,0.57 %,51296,109,82409,1.5,43,57 %,0.12 %
98,Papua New Guinea,8947024,1.95 %,170915,20,452860,3.6,22,13 %,0.11 %
99,Serbia,8737371,-0.40 %,-34864,100,87460,1.5,42,56 %,0.11 %
100,Israel,8655535,1.60 %,136158,400,21640,3.0,30,93 %,0.11 %

In [108]:
df.rename(columns={"Country (or dependency)": "Country", "Population(2020)": "Pop", "Density(P/Km²)": "Density", "Land Area(Km²)": "LandArea", "Fert.Rate": "FertRate", "Med.Age": "MedAge", "UrbanPop %": "UrbanPop"}, inplace=True)

In [109]:
df

,Country,Pop,YearlyChange,NetChange,Density,LandArea,FertRate,MedAge,UrbanPop,WorldShare
#,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
96,Belarus,9449323,-0.03 %,-3088,47,202910,1.7,40,79 %,0.12 %
97,Austria,9006398,0.57 %,51296,109,82409,1.5,43,57 %,0.12 %
98,Papua New Guinea,8947024,1.95 %,170915,20,452860,3.6,22,13 %,0.11 %
99,Serbia,8737371,-0.40 %,-34864,100,87460,1.5,42,56 %,0.11 %
100,Israel,8655535,1.60 %,136158,400,21640,3.0,30,93 %,0.11 %

In [114]:
def resetData():
    df = pd.read_csv("Data/PopulationData.csv", delimiter=";", thousands=",", decimal=".", index_col="#")
    df.rename(columns={"Country (or dependency)": "Country", "Population(2020)": "Pop", "Density(P/Km²)": "Density", "Land Area(Km²)": "LandArea", "Fert.Rate": "FertRate", "Med.Age": "MedAge", "UrbanPop %": "UrbanPop"}, inplace=True)
    return df

In [115]:
df = resetData()

In [128]:
df.set_index("Country", inplace=True)

## Neue Spalten hinzufügen

In [129]:
df["PopArea"] = round(df["Pop"] / df["LandArea"], 2)

In [130]:
df

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants(net),FertRate,MedAge,UrbanPop,WorldShare,PopArea
Country,,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %,153.31
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %,464.15
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %,36.19
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,150.99
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %,286.55
...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %,49.92
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %,0.29
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %,6.25
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %,135.70
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %,inf

In [131]:
df.sort_values("PopArea", ascending=False)[:10]

,Pop,YearlyChange,NetChange,Density,LandArea,Migrants(net),FertRate,MedAge,UrbanPop,WorldShare,PopArea
Country,,,,,,,,,,,
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %,inf
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %,39242.00
Macao,649335,1.39 %,8890,21645,30,5000.0,1.2,39,N.A.,0.01 %,21644.50
Singapore,5850342,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %,8357.63
Hong Kong,7496981,0.82 %,60827,7140,1050,29308.0,1.3,45,N.A.,0.10 %,7139.98
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %,3369.10
Bahrain,1701575,3.68 %,60403,2239,760,47800.0,2.0,32,89 %,0.02 %,2238.91
Maldives,540544,1.81 %,9591,1802,300,11370.0,1.9,30,35 %,0.01 %,1801.81
Malta,441543,0.27 %,1171,1380,320,900.0,1.5,43,93 %,0.01 %,1379.82
Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %,1265.19

## Zählen

In [136]:
len(df[df["Pop"] > 50_000_000])

29

## Gruppierung

Bei der Analyse von Daten wird oft Gruppierung verwendet

Dafür wird eine Spalte ausgewählt und diese Spalte als der Schlüssel bestimmt

Alle Daten werden dann in ihre entsprechende Gruppe abgelegt

z.B. 2012, 2013, 2014, 2015, ...

12er Gruppe, 13er Gruppe, 14er Gruppe, ...

In [158]:
df.groupby("MedAge").get_group("19")

dict_keys(['15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', 'N.A.'])

In [159]:
df.groupby("MedAge").groups.keys()

dict_keys(['15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', 'N.A.'])

In [165]:
df.groupby("MedAge").groups.values()

35

In [188]:
df.groupby("MedAge")["Pop"].count()

MedAge
15       1
16       1
17       6
18      10
19      14
20       9
21       5
22       7
23       4
24       6
25       4
26       7
27       4
28      12
29       5
30       8
31       6
32      11
33       5
34       6
35       3
36       4
37       4
38       7
39       3
40       7
41       5
42      10
43      11
44       5
45       5
46       3
47       2
48       1
N.A.    34
Name: Pop, dtype: int64